
<VirtualHost *:80>
    ServerName {{ item.domain }}
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/{{ item.config }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
