{% for item in with_items %}
<VirtualHost *:80>
    ServerName {{ item }}
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/{{ item }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
{% endfor %}